/* app/assets/stylesheets/application.scss */

/* Style will_paginate links as Bootstrap buttons */
.pagination a {
  display: block;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  border: 1px solid #007bff;
  color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
}

.current {
  display: block;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
}

.disabled {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
}
